<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Home</title>
  
</head>

<body>


<div class="container my-3">

  
  <h3>User Registration</h3>
  
  <form action="/myapp/registration/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Userame</label>
      <input type="text" class="form-control" id="username" name='username' placeholder="Enter user Name">
    </div>


    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
    </div>


     <div class="form -group mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
   
      
  <button type="submit" class="btn btn-success">Submit</button>
  </form>
     
</div>
</body>
</html> 

