<html>

<head>
  <title>Enable Two-Factor Authentication</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script defer="" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer="" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="alert alert-success"><p class="container"></p></div>

  
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-3">
        
  <h1>Enable Two-Factor Authentication</h1>

  <p>Congratulations, you've successfully enabled two-factor authentication.</p>

      </div>
    </div>
  </div>



</body>




</html>